@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html {
	box-sizing: border-box
}

body {
	margin: 0;
	overflow-x: hidden;
	background: linear-gradient(180deg, #FFFFFF 0%, #F3F8F7 49.91%, #FFF9F5 94.19%);
	font-family: Lato, sans-serif;
	color: #54575A
}

.wrapper {
	position: relative;
	margin: auto;
	width: 1440px;
	height: 1379px
}

.brand-image {
	position: absolute;
	top: 50.25px;
	left: 221px;
	width: 193px;
	height: 47.64px
}

.background-toggles {
	position: absolute;
	top: 70px;
	right: 150px;
	display: flex
}

.background-toggles > div {
	margin-right: 10px;
	width: 25px;
	height: 25px;
	border-radius: 5px;
	box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.3);
	cursor: pointer
}

.background-1 {
	background-color: #F2F2F2;
	background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23b8b8b8' fill-opacity='0.2' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E")
}

.background-2 {
	background: #ADA996;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.background-3 {
	background: #8E9EAB;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #EEF2F3, #8E9EAB);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #EEF2F3, #8E9EAB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.title {
	position: absolute;
	top: 236px;
	left: 221px;
	width: 458px;
	height: 135px;
	font-style: normal;
	font-weight: 500;
	font-size: 64px;
	line-height: 67px
}

.text {
	position: absolute;
	top: 403px;
	left: 221px;
	width: 394px;
	height: 96px;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 32px
}

.app-store-button {
	position: absolute;
	top: 531px;
	left: 221px;
	width: 138.44px;
	height: 46.28px
}

.app-store-button img {
	width: 138.44px;
	height: 46.28px
}

.google-play-button {
	position: absolute;
	top: 531px;
	left: 381.81px;
	width: 156.19px;
	height: 46.28px
}

.google-play-button img {
	width: 156.19px;
	height: 46.28px
}

.main-image-container {
	position: absolute;
	top: 229.73px;
	left: 683.28px;
	width: 535.72px;
	height: 309.27px
}

.main-image-container img {
	height: 411.15px
}

.profile-image {
	position: absolute;
	top: 686px;
	right: 479px;
	left: 737px;
	height: 444px
}

.product-image {
	position: absolute;
	top: 1157px;
	right: 479px;
	left: 737px;
	height: 222px
}

.orders-image {
	position: absolute;
	top: 913px;
	right: 737px;
	left: 479px;
	height: 474px
}

.cart-image {
	position: absolute;
	top: 1157px;
	right: 995px;
	left: 221px;
	height: 222px
}

.home-image {
	position: absolute;
	top: 908px;
	right: 221px;
	left: 995px;
	height: 474px
}